<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Chat Simples</h2>
  <div class="form-group">
    <label for="usr">Usuario: <%=usuario_logado.nome%></label>
    <br>
    <form class="form-inline" action="/logar" method="POST">
      <input hidden id="usuario" name="usuario" value="<%=usuario_logado.nome%>">
      <button type="submit" class="btn btn-default">Atualizar</button>
    </form>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <%for(i=0; i<usuarios.length; i++) {%>
        <tr>
            <td><%=usuarios[i].id%></td>
            <td><%=usuarios[i].nome%></td>
            <td>
                <a href="/chat/<%=usuarios[i].id%>/<%=usuario_logado.id%>">Conversar</a>
            </td>
        </tr>
    <%}%>
    </tbody>
  </table>
</div>

</body>
</html>
